<section class="section container input-container">
  <NoteInput
    @addNote={{action addNote}}
    @focusInput={{action focusInput}}
    name="add-note"
    class="input is-large"
    placeholder="Type something here with hashtags #awesome"
    value={{inputValue}}
    aria-label="add note here"
    disabled={{if isLoading "disabled" ""}}
   />

  {{#if isLoading}}
    <Common::Loader />
  {{/if}}
</section>
<div class="container">
  <div class="columns section">
    <section class="column">
      {{#each notes as |note|}}
        <Note @content={{note}} />
      {{/each}}
    </section>
    <div class="column is-one-quarter tags" style="text-align: left;">
      <div class="box">
        <h2 class="title is-4">
          Tags
        </h2>
        {{#each allTags as |tag|}}
          <Common::Tag @value={{tag.value}} class="is-medium" />
        {{/each}}
      </div>
    </div>
  </div>
</div>